<%= render :partial => 'partials/navbar' %>

<div class="view">
    <%= render :partial => 'partials/intro' %>
</div>
<!-- Main container-->
<div class="container">

    <%= render :partial => 'partials/about' %>

    <%= render :partial => 'partials/cards' %>

    <%= render :partial => 'partials/contact' %>

</div>