<!DOCTYPE html>
<html lang='en'>

  <head>
    <script src="http://maps.google.com/maps/api/js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_CLIENT_ID%>&callback=initMap"
    type="text/javascript"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Bear Hugs</title>

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= yield %>

    <%= render :partial => 'partials/footer' %>
    
  </body>
  
</html>
